.btn {
 cursor: pointer;
}
.bghome{
  background-image: url("../images/home1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}
.welcome{
  padding-top: 25%;
  text-align: center;  
  padding-bottom: 20%;
  color: gold;
}
